body {
    margin: 0;
    padding: 0;
  }
  
  
  .clouds {
    width: 200x;
    height: 300px;
    position: absolute;
  }
  
  .cloud1 {
      top: 80px;
    z-index: 100;
    fill:ghostwhite;
    -webkit-animation: move 20s linear infinite;
    -moz-animation: move 20s linear infinite;
    -o-animation: move 20s linear infinite;
    animation: move 20s linear infinite;
    opacity: 0.2;
  }
  
  .cloud2 {
    top: 240px;
    z-index: 200;
    fill: ghostwhite;
    -webkit-animation: move 35s linear 10s infinite backwards;
    -moz-animation: move 35s linear 10s infinite backwards;
    -o-animation: move 35s linear 10s infinite backwards;
    animation: move 35s linear 10s infinite backwards;
    opacity: 0.2;
  }
  .cloud3 {
    top: 240px;
    z-index: 200;
    fill:ghostwhite;
    -webkit-animation: move 50s linear 20s infinite backwards;
    -moz-animation: move 45s linear 20s infinite backwards;
    -o-animation: move 50s linear 20s infinite backwards;
    animation: move 50s linear 20s infinite backwards;
    opacity: 0.2;
}
  
@keyframes move {
    from {-webkit-transform: translateX(-400px);}
    to {-webkit-transform: translateX(1350px);}
  }
  
  